<!DOCTYPE HTML>
<html>
<head>
  <title>마스크 안전</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
  #nav{
    margin:10px 0;
  }

  #nav button{
    padding:3px;
    margin:0 0.5em;
    text-decoration:none;
    color:#1759a3;
  }

  #nav button.active{
    background:#1759a3;
    font-weight:bold;
    color:#fff;
  }
</style>
<body>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar"
        style="background-color:lightblue;">
  <h1 style="text-align: center; text-color: lightblue"></h1>
</header>