<!doctype html>
<html lang="ko">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZF2V3VZPWD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZF2V3VZPWD');
  </script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">

  <style>
    .mask {
      margin: 5px 15px 5px 5px;
    }

    .margin-top-30 {
      margin-top: 30px;
    }

    .page-container {
      position: relative;
      min-height: 100vh;
    }

    footer {
      bottom: 0;
      width: 100%;
    }

    @media (min-width: 768px) {
      .card-49 {
        max-width: 48%;
        justify-content: center;
      }

      .card-img-middle {
        align-self: center;
      }
    }

    .center {
      justify-content: center;
    }
  </style>

  <title>마스크 괜찮니</title>
</head>
<body>