<!doctype html>
<html lang="ko">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">

  <style>
    .mask {
      margin: 5px 15px 5px 5px;
    }

    .margin-top-30 {
      margin-top: 30px;
    }

    .page-container {
      position: relative;
      min-height: 100vh;
    }

    footer {
      bottom: 0;
      width: 100%;
    }

    @media (min-width: 768px) {
      .card-49 {
        max-width: 48%;
        justify-content: center;
      }

      .card-img-middle {
        align-self: center;
      }
    }

    .center {
      justify-content: center;
    }
  </style>

  <title>마스크 괜찮니</title>
</head>
<body>
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="https://image.flaticon.com/icons/svg/1535/1535376.svg" class="mask" width="40"
             height="40">
        <strong>마스크 괜찮니?</strong>
      </a>
    </div>
  </div>
</header>

<div class="container page-container p-4">
  <div class="">
    <div class="row">
      <div class="col-sm-6">
        <input type="text" class="form-control margin-top-30" placeholder="마스크 명" required
               autofocus>
      </div>
      <div class="col-sm-6">
        <input type="text" class="form-control margin-top-30" placeholder="회사 명" required autofocus>
      </div>
      <div class="col-sm">
        <input type="text" class="form-control margin-top-30" placeholder="코드" required autofocus>
      </div>
      <div class="col-sm">
        <input type="text" class="form-control margin-top-30" placeholder="등급" required autofocus>
      </div>
    </div>
    <div class="clearfix">
      <button type="button" class="btn margin-top-30 btn-info btn-block float-right">검색
      </button>
    </div>
  </div>

  <div class="margin-top-30">
    <span class="d-block m-3 bg-secondary border"></span>
  </div>
  <div class="cardcollection margin-top-30 card-group">
    <div class="row">

      <div class="col-md-6 card mb-3 m-1 card-49">
        <div class="row no-gutters">
          <div class="col-md-4 card-img-middle">
            <img
                src="https://image.shutterstock.com/image-photo/doctor-mask-corona-virus-protection-260nw-1631607358.jpg"
                class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">유한 양행 KF 94 마스크 유한 양행 KF 94 마스크</h5>
              <p class="card-text">코드 : 987656</p>
              <p class="card-text">회사명 : 유한 양행</p>
              <p class="card-text">등급 : KF 94</p>

              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 card mb-3 m-1 card-49">
        <div class="row no-gutters">
          <div class="col-md-4 card-img-middle">
            <img
                src="https://image.shutterstock.com/image-photo/doctor-mask-corona-virus-protection-260nw-1631607358.jpg"
                class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">This is a wider card</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 card mb-3 m-1 card-49">
        <div class="row no-gutters">
          <div class="col-md-4 card-img-middle">
            <img
                src="https://image.shutterstock.com/image-photo/doctor-mask-corona-virus-protection-260nw-1631607358.jpg"
                class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">This is a wider card</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="margin-top-30">
    <nav aria-label="...">
      <ul class="pagination center">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
      </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<footer>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="https://image.flaticon.com/icons/svg/1535/1535376.svg" class="mask" width="40"
             height="40">
        <strong>마스크 Footer</strong>
      </a>
    </div>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>